.header {
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
}
.header .active {
  color: #c675ea;
}
.header .active .pic__icon__color {
  display: inline-block;
}
.header .active .pic__icon {
  display: none;
}
.header__logo {
  width: 250px;
  transition: 0.4s;
}
.header__logo img {
  width: 100%;
}
.pic__icon__color {
  display: none;
}
.header__logo:hover {
  transform: scale(1.1);
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__menu li a {
  font-weight: 800;
  padding: 20px 19px;
  display: block;
  font-size: 16px;
  color: #f27fb5;
  transition: all linear 0.3s;
  text-transform: uppercase;
}
.header__menu li a:hover {
  color: #c675ea;
}
.dropdown__content .header__menu li a:hover {
  color: #fff;
}
.header__menu li {
  margin-right: 30px;
  font-size: 20px;
  display: inline-block;
  pointer-events: auto;
}
.search__input {
  width: 200px;
  height: 24px;
  margin-right: 10px;
  font-size: 16px;
  color: #f27fb5;
  border: none;
  border-bottom: solid 1px #f27fb5;
}
.search__input:focus {
  outline: none;
  box-shadow: none;
}

.manga__button {
  padding: 10px;
  border: solid 1px #f27fb5;
  color: #f27fb5;
  border-radius: 18px;
  transition: 0.4s;
}

.manga__button:hover {
  background-color: #c675ea;
  color: #fff;
  border-color: #c675ea;
}
.dropdown {
  display: none;
  font-size: 30px;
  color: #f27fb5;
}
.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__content {
  display: none;
  padding: 20px;
  background-color: #fbd8e9;
}
.dropdown__content .list__item {
  padding: 10px;
  display: block;
  background-color: #f27fb5;
  text-align: center;
  transition: 0.5s;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.dropdown__content .list__item a {
  display: block;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
}
.dropdown__content .list__item:hover {
  background-color: #c675ea;
}
.dropdown__content .active {
  text-decoration: underline;
}

@media only screen and (max-width: 1366px) {
  .container {
    width: 95%;
  }
  .header__menu li {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1150px) {
  .header__right {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .header__menu li a {
    padding: 10px 12px;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .header__top {
    align-self: center;
  }
  .header__bottom {
    display: block;
  }
  .dropdown__content {
    display: block;
  }
  .header__left {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .header__menu li a {
    padding: 10px 12px;
  }
}
