.reading__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reading__nav {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reading__title h3 {
  color: #f27fb5;
  font-size: 24px;
}
.bookmark__icon {
  color: #f27fb5;
  font-size: 30px;
}
.reading__button .manga__button {
  border-radius: 0;
  border-color: #f27fb5;
  background-color: #f27fb5;
  color: #fff;
  margin-left: 5px;
  padding: 10px 20px;
  border-radius: 5px;
}
.reading__button .manga__button:hover {
  background-color: rgba(242, 127, 181, 0.3);
  color: #f27fb5;
}
.reading__nav select {
  min-width: 200px;
  max-width: 50%;
  height: 40px;
  border: 2px solid #f27fb5;
  padding: 7px;
  color: #f27fb5;
  background: rgba(242, 127, 181, 0.3);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.fa__prev {
  padding-right: 5px;
}
.fa__next {
  padding-left: 5px;
}
.reading__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reading__content {
  width: 100%;
}
.reading__img img {
  display: block;
  width: 100%;
}
.translate__img {
  padding: 10px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  border: 2px solid #f27fb5;

}
.toggle__sub{
  position: fixed;
  bottom: 70px;
  right: 22px;
  color: #c675ea;
  background-color: #fff;
  border: 1px solid #c675ea;
  padding: 8px;
  height: 40px;
  width: 40px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.toggle__sub:hover{
  background-color: #f27fb5;
  color: #fff;
}
.active .manga__button{
  background-color: #f27fb5;
  color: #fff;
}
.popup__button .active{
  background-color: #f27fb5;
  color: #fff;
  border-color: #f27fb5;

}
.toggle__button{
  display: inline-block;
}
.reading__nav .reading__button .toggle__button button{
  color: #c675ea;
  background-color: #fff ;
  border: 1px solid #c675ea;
  transition: 0.5s;
}
.reading__nav .reading__button  .toggle__button .active{
  background-color: #f27fb5 ;
  color: #fff;
  border-color: #f27fb5;
}

@media only screen and (max-width: 600px) {
  .reading__nav{
    flex-direction: column;
    gap: 20px;
  }
  .reading__nav select{
    max-width: 100%;
  }

}
