.season__news {
  display: flex;
  align-items: center;
  background-color: #fbd8e9;
  border: 1px solid #f27fb5;
  margin-bottom: 15px;
}
@keyframes run {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -60%;
  }
}
.news_race {
  width: 100%;
  overflow: hidden;
}
.news__runner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  animation-name: run;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  white-space: nowrap;
}
.news__label {
  margin: 0;
  white-space: nowrap;
}

.news__label {
  background: #f27fb5;
  padding: 13px;
  width: auto;
  margin-right: 15px;
  line-height: normal;
  height: 100%;
  color: #fff;
}
.season__main {
  display: flex;
  justify-content: center;
}
.season__new {
  display: flex;
  flex-direction: column;
}
.season__news span {
  color: #f27fb5;
  font-size: 14px;
}
.news__title {
  background-color: #f27fb5;
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}
.header__title {
  position: relative;
}
.header__title h3 {
  font-size: 32px;
  margin-top: 0;
  text-transform: uppercase;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 1.2px;
  color: #f27fb5;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__title::before {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../../assets/img/home/sakura.png);
  top: -10px;
  left: 0px;
  background-repeat: no-repeat;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
}
.header__title::after {
  position: absolute;
  content: "";
  left: 56px;
  bottom: 0px;
  background-color: #f27fb5;
  width: 45px;
  height: 4px;
  z-index: -1;
  box-shadow: 28px 5px 0px 0px #f27fb5;
}

.season__banner img {
  width: 100%;
  padding-bottom: 20px;
}
.new__manga {
  padding-top: 30px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.season__left {
  width: 70%;
}

.slide__img {
  border-radius: 10px;
}
.slide__content {
  position: relative;
}
.slide__info {
  position: absolute;
  bottom: 50px;
  left: 20px;
}
.slide__tag {
  color: #fff;
  font-size: 15px;
  background-color: orange;
  display: inline;
  padding: 5px 20px;
  border-radius: 6px;
}
.slide__info h3 {
  font-size: 26px;
  color: #fff;
}
.slide__author {
  color: #999;
}
.swiper_container {
  width: 100%;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  text-align: end;
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f27fb5;
  width: 50px;
  height: 5px;
  border-radius: 0;
}
.season__line {
  width: 100%;
  margin-top: 35px;
  border: 0.1px solid #ededed;
}
.manga__list {
  margin-top: 40px;
}
.list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.list__menu a {
  padding: 12px 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  color: #f27fb5;
  background-color: #fbd8e9;
  transition: 0.4s;
}
.list__menu a:hover {
  color: #fff;
  background-color: #f27fb5;
}
.list__menu .menu__active {
  background-color: #f27fb5;
  color: #fff;
}
.list__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.list__content .manga__item {
  width: 23%;
}
.list__pagination {
  text-align: center;
  margin-top: 30px;
}
.list__pagination a {
  display: inline-block;
  padding: 10px;
  background-color: #f27fb5;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  transition: 0.4s;
  border: 1px solid #f27fb5;
}
.list__pagination a:hover {
  background-color: #fbd8e9;
  color: #f27fb5;
  border-color: #f27fb5;
}
.list__pagination .page__active {
  background-color: #c675ea;
  border-color: #c675ea;
}
.read__more {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 10px;
  transition: 0.4s;
}
.read__more a {
  color: #f27fb5;
  transition: 0.4s;
}
.arrow__right {
  padding-left: 5px;
}
.read__more a:hover {
  transform: scale(1.1);
  color: #c675ea;
}
/* RESPONSIVE */

@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 1250px) {

}

@media only screen and (max-width: 950px) {

}
