.season__news {
  display: flex;
  align-items: center;
  background-color: #fbd8e9;
  border: 1px solid #f27fb5;
  margin-bottom: 15px;
}
@keyframes run {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -60%;
  }
}
.news_race {
  width: 100%;
  overflow: hidden;
}
.news__runner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  animation-name: run;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  white-space: nowrap;
}
.news__label {
  margin: 0;
  white-space: nowrap;
}

.news__label {
  background: #f27fb5;
  padding: 13px;
  width: auto;
  margin-right: 15px;
  line-height: normal;
  height: 100%;
  color: #fff;
}
.season__main {
  display: flex;
  justify-content: center;
}
.news__title {
  background-color: #f27fb5;
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}
.header__title {
  position: relative;
}
.header__title h3 {
  font-size: 32px;
  margin-top: 0;
  text-transform: uppercase;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 1.2px;
  color: #f27fb5;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__title::before {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../../assets/img/home/sakura.png);
  top: -10px;
  left: 0px;
  background-repeat: no-repeat;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
}
.header__title::after {
  position: absolute;
  content: "";
  left: 56px;
  bottom: 0px;
  background-color: #f27fb5;
  width: 45px;
  height: 4px;
  z-index: -1;
  box-shadow: 28px 5px 0px 0px #f27fb5;
}

.season__banner img {
  width: 100%;
  padding-bottom: 20px;
}

.season__left {
  width: 60%;
}

.slide__img {
  border-radius: 10px;
}
.slide__content {
  position: relative;
}
.slide__info {
  position: absolute;
  bottom: 50px;
  left: 20px;
}
.slide__tag {
  color: #fff;
  font-size: 15px;
  background-color: orange;
  display: inline;
  padding: 5px 20px;
  border-radius: 6px;
}
.slide__info h3 {
  font-size: 26px;
  color: #fff;
}
.slide__author {
  color: #999;
}
.swiper_container {
  width: 100%;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  text-align: end;
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f27fb5;
  width: 50px;
  height: 5px;
  border-radius: 0;
}
.season__line {
  width: 100%;
  margin-top: 35px;
  border: 0.1px solid #ededed;
}
/* RESPONSIVE */
@media only screen and (max-width: 950px) {
  .season__main {
    flex-direction: column;
  }
  .season__left {
    width: 100%;
  }
  .season__content .season__release {
    padding-left: 0;
    width: 100%;
  }
}
