.menu__content {
    width: 15%;
    min-height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 15px #22292f0d;
    overflow: hidden;
}


.menu__content .list__items {
    padding: 0;
    transition: 0.4s;
    list-style: none;
}

.admin__link {
    padding: 10px 15px;
    margin: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    display: block;
    color: #f27fb5;
    text-transform: capitalize;
    transition: 0.4s;
}

.menu__content .list__item .active {
    background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, .7));
    box-shadow: 0 0 10px 1px #7367f0b3;
    color: #fff;
    transition: 0.4s;

}
.menu__content .list__item .pic__icon{
    width: 100%;
    padding-right: 10px;
    transition: 0.5s;
}

.menu__content .list__item .pic__icon:hover {
    transform: scale(1.1);
}
.menu__content .list__item .active:hover {
    color: #f27fb5;

}

.admin__link:hover {
    background: none;
    box-shadow: 0 0 10px 1px #c675ea;
    color: #c675ea;

}

.label__menu {
    display: block;
    padding: 15px 5px 0;
    margin: 10px 15px;
    font-size: 20px;
    color: #c675ea;
    text-transform: capitalize;
    font-weight: bold;
}

/* RESPONSIVE */
@media only screen and (max-width: 1250px) {
    .menu__title {
        font-size: 20px;
    }
    .menu__content {
        width: 20%;
    }

}
@media only screen and (max-width: 950px) {
    .menu__content {
        display: none;
    }

}